@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
  width: 100%;
  background-color: black;
  font-family: "Poppins";
  padding: 30px 0 0 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons :hover {
  background: #6a0dad;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 50%;
  font-size: 1.4rem;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 1rem;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer-nav ul li :hover {
  opacity: 1;
}

.copy-right-details {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #131212;
}

.copy-right-details p {
  color: white;
  opacity: 0.7;
}
